/* line 16, ../sass/demo3.scss */
.col1 {
  width: 20%;
}

/* line 16, ../sass/demo3.scss */
.col2 {
  width: 40%;
}

/* line 16, ../sass/demo3.scss */
.col3 {
  width: 60%;
}

/* line 16, ../sass/demo3.scss */
.col4 {
  width: 80%;
}

/* line 16, ../sass/demo3.scss */
.col5 {
  width: 100%;
}
